<main>
    <section class="crypto-market">
        <h1><span>Crypto</span> Trade</h1>
        {{#if allCryptoOffers}}
        <div class="offer-list">
            {{#each allCryptoOffers}}
            {{>oneCoinFromCatalog}}
            {{/each}}

        </div>
        {{else}}
        <div class="no-offer">
            <p>There are no crypto offers found!</p>
        </div>
        {{/if}}
    </section>
</main>