<section class="catalog" id="catalog">
    <h2>Book Reviews</h2>
    <div class="container">
        <!--If there are book reviews-->
        {{#if allBookReviews}}
        {{#each allBookReviews}}
        {{>bookReview}}
        {{/each}}
        <!--If there are no book reviews-->
        {{else}}
        <h2 class="no-record">There are no book reviews found yet...</h2>
        {{/if}}
    </div>
</section>


{{!-- <main>
    <section class="crypto-market">
        <h1><span>Crypto</span> Trade</h1>
        {{#if allCryptoOffers}}
        <div class="offer-list">
            {{#each allCryptoOffers}}
            {{>oneCoinFromCatalog}}
            {{/each}}

        </div>
        {{else}}
        <div class="no-offer">
            <p>There are no crypto offers found!</p>
        </div>
        {{/if}}
    </section>
</main> --}}